<?xml version='1.0' encoding='utf-8'?>
<widget id="io.jmc.elaporbantul" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>E-Lapor Bantul</name>
    <description>
        Aplikasi E-Lapor Kabupaten Bantul
    </description>
    <author email="support@jmc.co.id" href="http://jmc.co.id">
        JMC Mobile Apps Team
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="orientation" value="portrait" />
    <preference name="StatusBarBackgroundColor" value="#3F9B41" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-nativeclicksound" spec="https://github.com/MatiMenich/cordova-plugin-nativeClickSound.git" source="git"/>
    <plugin name="cordova-plugin-x-toast" spec="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin.git" source="git"/>
    <plugin name="cordova-plugin-openfilenative" spec="https://github.com/antonioJASR/FileOpener.git" source="git"/>
    <plugin name="cordova-plugin-splashscreen" spec="https://github.com/apache/cordova-plugin-splashscreen.git" source="git"/>
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2"/>
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon platform="android" qualifier="ldpi" src="www/res/icons/android/icon-36-ldpi.png"/>
        <icon platform="android" qualifier="mdpi" src="www/res/icons/android/icon-48-mdpi.png"/>
        <icon platform="android" qualifier="hdpi" src="www/res/icons/android/icon-72-hdpi.png"/>
        <icon platform="android" qualifier="xhdpi" src="www/res/icons/android/icon-96-xhdpi.png"/>
        <icon platform="android" qualifier="xxhdpi" src="www/res/icons/android/icon-144-xxhdpi.png"/>
        <icon platform="android" qualifier="xxxhdpi" src="www/res/icons/android/icon-192-xxxhdpi.png"/>
        <splash src="www/res/screen/screen-ldpi-portrait.png" density="port-ldpi"/>
        <splash src="www/res/screen/screen-mdpi-portrait.png" density="port-mdpi"/>
        <splash src="www/res/screen/screen-hdpi-portrait.png" density="port-hdpi"/>
        <splash src="www/res/screen/screen-xhdpi-portrait.png" density="port-xhdpi"/>
    </platform>
</widget>
